/* Daniel Jimenez Manrique */
body {
    background-color: #f9f9f9;
}

#container{
    border: 2px black solid;
}

#conEm {
    border: 3px blue dashed;
    width: 10em;
    font-size: 3em;
}

#conEx{
    border: 3px blue dashed;
    width: 10ex;
    font-size: 3ex;
}

#conRem {
    border: 3px blue dashed;
    width: 10rem;
    font-size: 3rem ;
}

#conCh {
    border: 3px blue dashed;
    width: 10ch;
}

#conLh {
    border: 3px blue dashed;
    width: 10lh;
}

#conVw {
    border: 3px blue dashed;
    width: 10%vw;
}

#conVh {
    border: 3px blue dashed;
    width: 10vh;
}

#conVmin {
    border: 3px blue dashed;
    width: 10vmin;
}

#conVmax {
    border: 3px blue dashed;
    width: 10vmax;
}

